
*.xcuserdatad/

Dash.xcodeproj/project.xcworkspace/xcshareddata/*

Dash.xcodeproj/xcuserdata/paulb.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Dash.xcodeproj/xcuserdata/paulb.xcuserdatad/xcschemes/Dash.xcscheme

Dash.xcodeproj/xcuserdata/paulb.xcuserdatad/xcschemes/xcschememanagement.plist
